<div class="thirdBlock">
  <div class = "parralUnion">
      <div class="ruska">
          <h1>
              03
              <span>WORK</span>
          </h1>
      </div>
  </div>
  <div class="textonBottomTheirBlock">
      <h1>OUR CREATIVE & UNIQUE WORK</h1>
      <hr class="lineThirdBlock">
  </div>
  <span class="firstMenuThirdBlock">ALL</span>
  <span class="secondMenuThirdBlock">CREATIVE</span>
  <span class="thirdMenuThirdBlock">INTERIOR</span>
  <span class="fourthMenuThirdBlock">MINIMAL</span>
  <div class="containerOfPicturesThirdBlock">
      <div class="firstPicPadding">
          <div class="firstPic">
              <img src="../../assets/thirdblock1pic.jpg" alt="black with red staff">
          </div>
          <div class="secondPic">
              <img src="../../assets/thirdBlock2pic.jpg" alt="white staff">
          </div>
          <div class="thirdPic">
              <img src="../../assets/thirdBlock3pic.jpg" alt="rabbit">
          </div>
          <div class="fourthPic">
              <img src="../../assets/thirdblock4pic.jpg" alt="snikers">
          </div>
          <div class="fifthPic">
              <img src="../../assets/thirdblock5pic.jpg" alt="roses">
          </div>
      </div>
  </div>
</div>
