<div class="sixthBlock">
  <div class = "parralUnion">
      <div class="ruska">
          <h1>
              06
              <span>TESTIMONIAL</span>
          </h1>
      </div>
  </div>
  <div class="testimonialBlock">
      <div class="borderSix"></div>
      <div class="textNearBorder">
          <h1>BIPUL ANDERSON</h1>
          <h2>GRAPHIC DESIGNER</h2>
      </div>
      <div class="textP">
          <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud commodo consequat. 
          </p>
      </div>
      <div class="borderWithImg">
          <img src="../../assets/SixthImage.png" alt="manInBrownShirt">
      </div>
  </div>
</div>