<div class="secondBlock">
      <div class = "parralUnion">
              <div class="ruska">
                  <h1>
                      02
                      <span>SERVICES</span>
                  </h1>
              </div>
          </div>
      <div class="cont">
          <p class="secondBlockText">LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT, SED DO EIUSMOD TEMPOR INCIDIDUNT UT LABORE DOLORE MAGNA ALIQUA ENIM AD MINIM VENIAM.</p>
      </div>
      <div class="marginfromtop"></div>
      <div class="beforeh1">
          <h1>01</h1>
      </div>
      <div class="textOnNumber">
          <h3>UI/UX AND GRAPHICS DESIGN</h3>
          <h4>BRAND STRATEGY | GRAPHIC DESIGN</h4>
      </div>
      <hr class="original">
      <p class="underhr">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quiens nostrud exercitation ullamco laboris the an nisi commodo consequat.</p>


      <div class="difference">
      <div class="beforeh1">
          <h1>02</h1>
      </div>
      <div class="textOnNumber">
          <h3>WEBSITE DESIGN</h3>
          <h4>BRAND STRATEGY | GRAPHIC DESIGN</h4>
      </div>
      <hr class="child1">
      <p class="underhr1">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quiens nostrud exercitation ullamco laboris the an nisi commodo consequat.</p>
      </div>

      <div class="difference1">
          <div class="beforeh1">
              <h1>03</h1>
          </div>
          <div class="textOnNumber">
              <h3>BRANDING AND IDENTITY</h3>
              <h4>BRAND STRATEGY | GRAPHIC DESIGN</h4>
          </div>
          <hr class="child2">
          <p class="underhr2">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quiens nostrud exercitation ullamco laboris the an nisi commodo consequat.</p>
      </div>

  </div>
