<div class="fifthBlock">
  <div class = "parralUnion">
      <div class="ruska">
          <h1>
              05
              <span>TEAM</span>
          </h1>
      </div>
  </div>

<div class="border1-team">
  <img src="../../assets/PicWithBorder1.jpg" alt="team1" class="imagine-team">
  <hr class="line-team">
  <h2 class="text-team">BIPUL ANDERSON</h2>
  <hr class="line2-team">
  <h2 class="text2-team">GRAPHIC DESIGNER</h2>
</div>
<div class="border2-team">
  <img src="../../assets/PicWithBorder2.jpg" alt="team2" class="imagine-team">
  <hr class="line-team">
  <h2 class="text-team">SADIA AHMED MONIKA</h2>
  <hr class="line2-team1">
  <h2 class="text2-team1">CEO & FOUNDER</h2>
</div>
<div class="border3-team">
  <img src="../../assets/PicWithBorder3.jpg" alt="team3" class="imagine-team">
  <hr class="line-team">
  <h2 class="text-team">SHUILY YEASIN SOILY</h2>
  <hr class="line2-team1">
  <h2 class="text2-team1">CEO & FOUNDER</h2>
</div>
</div>
